extends layout

block content
    header
        | Florian Gauger
        div(class='header_subtext')
            | Software Engineer
    div(class='image')
        | &ltblog&gt


    each article in articles
        div(class= 'article')
            h1(class='article_head')= article.head
            p(class='article_text')= article.text
            div(class='article_footer')
                div(class='left')
                    - var n = 0
                    while n < article.categories.length
                        a(href= article.categories[n]) #{categories.get(article.categories[n])}
                        - n++
                div(class='right')
                    time 9 January 2016
            div(style='clear:both')


    footer
        nav
            span(id= 'page')
                | #{page} of #{pageMax}
            div(id= 'button_box_right')
                if showButtonNext
                    button(class='button' onclick='window.open("/blog/" + (#{page} + 1), "_self")') next
            div(id= 'button_box_left')
                if showButtonPrevious
                    button(class='button' onclick='window.open("/blog/" + (#{page} - 1), "_self")') previous
    div(class='image')
        | &lt/blog&gt
